.main-page {
    width: 800px;
    border: 1px solid rgb(175 167 167);
    box-shadow: 0px 0px 20px 0px rgb(142 139 139);
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-page header {
    background: #dad9d6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #b1aeae;
}

.logo {
    margin: 10px;
    vertical-align: middle;
    border-radius: 4px;
}

.title {
    font-size: 20px;
    color: #535351;
    text-align: center;
    display: inline-block;
    margin-left: 180px;
    vertical-align: middle;
    font-weight: bold;
}

.container {
    min-height: 560px;
    max-height: 800px;
}

.tabs {
    margin: 20px 20px 0px 20px;
}

.tabs button {
    padding: 10px;
    border: 1px solid #535351;
    background: #535351;
    color: #FFF;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
}

.first-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px !important;
}

.active-tab {
    background: #FFF !important;
    color: #7a7474 !important;
    border: 1px solid #dcd9d7 !important;
    border-bottom: none !important;
    padding-bottom: 12px !important;
    text-shadow: 0px 0px 1px #beb5b5;
}
.role-class{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.container {
    border: 1px solid #dcd9d7;
    margin: 20px;
    margin-top: -1px;
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}